<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AskMee</title>
  <link rel="stylesheet" href="/css/main.css">
  <script type="text/javascript" src="/js/main.js"></script>
</head>
<body>

<h3>An has encounter an error</h3>

<div class="err-mesg"><%= err %></div>

</body>
</html>
