body{
  font-size: 0.95em;
  line-height: 1.4;
  font-family: ff-dagny-web-pro,Dagny Pro,Hevetica Neue,Heveltica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #313131;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
}

textarea{
    width:98%;
    height:75px;
    padding:3px;
    border:solid 1px #333;
    font-size:0.85em;
}

input{
    width:300;
    padding:3px;
    border:solid 1px #333;
    font-size:0.85em;
}

label{
    font-weight:600;
}

button{
    font-size:0.85em;
}

.leftside{
    float:left;
    border:solid 1px #ccc;
    width:47%;
    position:relative;
    padding:7px;
}

.rightside{
    float:right;
    border:solid 1px #ccc;
    width:47%;
    padding:7px;
}

.quesion-list{
    padding:1px;
}

.question-item{
    font-size:0.85em;
    color:#333;
    background-color:#ddd;
}

.question-item:hover{
    cursor:pointer;
    color:orange;
}

.answer-container{
    padding:10px;
    font-size:0.85em;
    color:#eee;
    background-color:#333;
    border:dashed 1px orange;
    display:none;
}

#updateeFld{
    display:none;
}
.btn-update{
    font-size:0.5em;
    margin-left:3px;
}

.btn-update:hover{
    cursor:pointer;
    color:blue;
}
