body{
  font-size: 0.95em;
  line-height: 1;
  font-family: ff-dagny-web-pro,Dagny Pro,Hevetica Neue,Heveltica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#000;
  color: #ddd;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: common-ligatures;
 }

/**
* Form Elements
*/

textarea{
    width:98%;
    height:75px;
    padding:3px;
    border:solid 1px #333;
    border-radius: 5px;
    background-color: #ccc;
}

input{
    width:300;
    padding:3px;
    border:solid 1px #333;
    border-radius: 5px;
    background-color: #ccc;
}

label{
    display:block;
    margin-bottom:5px;
    font-weight:500;
}

button{
    border-radius:3px;
}

.form-grp{
    position:relative;
    font-size:0.85em;
    margin-bottom:10px;
}

.keyword-selector{
    min-width:75;
    padding:5px;
    border:solid 1px #333;
    border-radius: 5px;
    font-size:0.85em;
    background-color: #ccc;
}

/**
 * Page Header
 */

.header{
    height:70px;
    position:relative;
    margin-bottom:15px;
}

.logo{
    margin:0;
    position:absolute;
    top:50%;
    transform:translate(0,-50%);
}

.page-title{
    margin:0;
    position:absolute;
    top:50%;
    left:70px;
    transform:translate(0,-50%);
    font-size:1.2em;
    font-weight:600;
}

/**
 * Layout left/right cols
 */

.sto{
    width:47%;
    padding:10px;

    border-bottom:solid 1px #cc9966;
    border-top:solid 1px #cc9966;
    border-right:solid 1px #cc9966;
    border-left:solid 1px #cc9966;

    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sto-left{
    float:left;
}

.sto-right{
    float:right;
}

.sto-cap{
    height:25px;
    position:relative;
    padding:0;
}

.cap{
    position:absolute;
    height:100%;
    width:47%;
    padding-right:10px;
    padding-left:10px;

    background-color:#86592d;

    border-top:solid 1px #cc9966;
    border-bottom:none;
    border-right:solid 1px #cc9966;
    border-left:solid 1px #cc9966;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.cap-left{
    margin:0;
    left:0;
    transform:translate(0,0);
}

.cap-right{
    margin:0;
    left:100%;
    transform:translate(-100%,0);
}

/**
 * Filters
 */

.filter-label {
    display:inline-block;
}

.filter-item{
    display:inline-block;
    border-radius:3px;
    background-color: #ccc;
}

/**
 * Questions
 */

.quesion-list{
    max-height:300px;
    padding:1px;
    overflow-y: auto;
}
.question-item-grp{
    margin-bottom:10px;
}
.question-item{
    border-bottom:1px dotted #ccc;
    font-size:0.75em;
}

.question-item:hover{
    cursor:pointer;
    color:orange;
}

/**
 * Answers
 */

.answer-container{
    margin-top:10px;
    margin-bottom:10px;
    padding:15px;
    font-size:0.75em;
    color:#eee;
    background-color:#333;
    border:dashed 1px orange;
    display:none;
}

/**
 * Hidden Fields
 */

#updateeFld{
    display:none;
}

#respErr{
    display:none;
}

/**
 * Update button
 */

.btn-grp{
    margin-top:10px;
    margin-left:3px;
}
.btn-update{
    font-size:0.5em;
}

.btn-update:hover{
    cursor:pointer;
    color:orange;
    font-style:underline;
}

/**
 * Errors
 */

.err{
    font-size:0.95em;
    color:red;
}

.err-mesg{
    padding:5px;
    font-style: italic;
    display:inline-block;
    background-color: #333;
    color:orange;
}
